<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>

    <!-- Use the static tag to reference your favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/sea.png' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>

{% block content %}{% endblock %}

{% bootstrap_javascript %}

</body>
</html>
