{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container">
        <h2 class="mb-4">Create New Project</h2>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    <strong>Errors in the form:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

    </div>
{% endblock %}
