{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .project-details {
        text-align: center;
    }

    table {
        margin: 20px auto; /* Add margin to the table for better spacing */
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ddd; /* Add borders to cells for better visibility */
    }

    th {
        background-color: #f2f2f2; /* Set a background color for the table header */
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="project-details">
    <h2 style="padding: 10px;">{{ project.name }} Details</h2>
    <p>Registration Date: {{ project.registration_date }}</p>
    <p>Description: {{ project.description }}</p>
    <p>Owner: {{ project.owner.username }}</p>
    <!-- Add more details or include related data as needed -->

    <!-- Experiments Table -->
    <h3>Experiments</h3>
    <table class="experiments-table">
        <thead>
        <tr>
            <th>Experiment ID</th>
            <th>Experiment Date</th>
        </tr>
        </thead>
        <tbody>
        {% for experiment in experiments %}
            <tr>
                <td>{{ experiment.id }}</td>
                <td>{{ experiment.experiment_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- BioSamples Table -->
    <h3>BioSamples</h3>
    <table class="biosamples-table">
        <thead>
        <tr>
            <th>BioSample ID</th>
            <th>Country</th>
            <th>Species</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Collection Date</th>
        </tr>
        </thead>
        <tbody>
        {% for experiment in experiments %}
            {% for biosample in experiment.biosamples.all %}
                <tr>
                    <td>{{ biosample.id }}</td>
                    <td>{{ biosample.country }}</td>
                    <td>{{ biosample.species }}</td>
                    <td>{{ biosample.latitude }}</td>
                    <td>{{ biosample.longitude }}</td>
                    <td>{{ biosample.collection_date }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <!-- Observations Table -->
    <h3>Observations</h3>
    <table class="observations-table">
        <thead>
        <tr>
            <th>Experiment ID</th>
            <th>BioSample ID</th>
            <th>Country</th>
            <th>Species</th>
            <th>Fragment</th>
            <th>Condition</th>
            <th>Temperature</th>
            <th>Timepoint</th>
            <th>PAM</th>
        </tr>
        </thead>

        <tbody>
        {% for experiment in experiments %}
            {% for biosample in experiment.biosamples.all %}
                {% for observation in biosample.observation_set.all %}
                    <tr>
                        <td>{{ experiment.id }}</td>
                        <td>{{ biosample.id }}</td>
                        <td>{{ biosample.country }}</td>
                        <td>{{ biosample.species }}</td>
                        <td>{{ observation.fragment }}</td>
                        <td>{{ observation.condition }}</td>
                        <td>{{ observation.temperature }}</td>
                        <td>{{ observation.timepoint }}</td>
                        <td>{{ observation.pam_value }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
