{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .main-container {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        width: 60%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the row */
    }

    .card {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        background-color: #f2f2f2;
        border: 0px;
    }

    h2 {
        color: #3498db;
    }
</style>

<div class="main-container">
    <!-- Panel 1: CBASS System -->
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">CBASS System</h2>
            <p class="card-text">
                A portable experimental system to run standardized short-term acute
                heat stress assays.
                CBASS assays allow determination of the ED50, the standardized
                temperature threshold at which 50% of initial photosystem efficiency
                is lost.
            </p>
            <h3>References:</h3>
            <ul>
                <li><a href="https://doi.org/10.1002/lom3.10555">Evensen et al. 2023</a></li>
                <li><a href="https://doi.org/10.1111/gcb.15148">Voolstra et al. 2020</a></li>
                <li><a href="https://doi.org/10.1111/mec.16064">Voolstra et al. 2021</a></li>
                <li><a href="https://doi.org/10.1073/pnas.2023298118">Savary et al. 2021</a></li>
                <li><a href="https://doi.org/10.1002/lno.11715">Evensen et al. 2021</a></li>
                <!-- Add more articles as needed -->
            </ul>
        </div>
    </div>

    <!-- Panel 2: R Package for Data Processing -->
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">R Package</h2>
            <p class="card-text">
                R package to process CBASS-derived PAM data. Minimal requirements
                are PAM data (or data from any other continuous variable that
                changes with temperature, e.g. relative bleaching scores) from 4
                samples (e.g., nubbins) subjected to 4 temperature profiles of at
                least 2 colonies from 1 coral species from 1 site.
            </p>
            <h3>References:</h3>
            <ul>
                <li><a href="https://github.com/reefgenomics/CBASSED50">Source Code</a></li>
                <li><a href="https://zenodo.org/doi/10.5281/zenodo.8370644">Zenodo Record</a></li>
            </ul>
        </div>
    </div>

    <!-- Panel 3: Something Else -->
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">To Contribute</h2>
            <p class="card-text">
                If you want to contribute to our database, please have a look first at our <a href="https://github.com/greenjune-ship-it/coral-future/wiki">Wiki</a> page.
                <br>
                Then contact <a href="mailto:{{ CONTACT_EMAIL_ADDRESS }}">{{ CONTACT_EMAIL_ADDRESS }}</a>.
            </p>
            <!-- Add more content as needed -->
        </div>
    </div>
</div>
{% endblock %}
